<section>
    <div class="container">
        <div class="sb-ad-container">
            <div class="sb-ad-content">
                <div class="sb-ad-text">
                    <h2 class="sb-ad-title">موقع تعليمي احترافي باسمك</h2>

                    <ul class="sb-ad-features">
                        <li class="sb-ad-feature-item">
                            <p>توفر لك سبيل موقعًا تعليميًا متكاملًا يحمل اسمك ويعكس هويتك التعليمية، ويعرض جميع بياناتك وكورساتك بطريقة احترافية.</p>
                        </li>
                        <li class="sb-ad-feature-item">
                            <p>
                                الموقع مرتبط مباشرة بنظام سبيل، ليتم تحديث المحتوى والبيانات تلقائيًا دون أي مجهود تقني منك.
                            </p>
                        </li>

                    </ul>

                    <a routerLink="/" fragment="contact" class="sb-ad-button">اطلب موقعك التعليمي الآن</a>
                </div>
                <div class="sb-ad-image">
                    <img src="images/imageatt.png" alt="موقع تعليمي احترافي باسمك">
                </div>

            </div>
        </div>
    </div>
</section>