<header class="sb-header-wrapper py-3">
  <div class="container">
    <div class="sb-top-bar d-flex justify-content-between align-items-center mb-2 pb-2 border-bottom border-secondary">
      <div class="sb-social-icons und-flex gap-3">
        <a href="#"><img src="icons/facebook_icon.svg" alt="Facebook" class="sb-social-icon"></a>
        <a href="#"><img src="icons/youtube_icon.svg" alt="YouTube" class="sb-social-icon"></a>
        <a href="#"><img src="icons/linkedin_icon.svg" alt="LinkedIn" class="sb-social-icon"></a>
        <a href="#"><img src="icons/x_icon.svg" alt="X" class="sb-social-icon"></a>
        <a href="#"><img src="icons/instgram_icon.svg" alt="Instagram" class="sb-social-icon"></a>
        <a href="#"><img src="icons/tiktok_icon.svg" alt="TikTok" class="sb-social-icon"></a>
      </div>

      <div class="sb-contact-info d-flex gap-4 align-items-center text-white">
        <div class="sb-contact-item d-flex align-items-center gap-2">
          <span>+20 100 123 4567</span>
          <img src="icons/mail_icon.svg" alt="Mail" class="sb-contact-icon">
        </div>
        <div class="sb-contact-item d-flex align-items-center gap-2">
          <span>+20 100 123 4567</span>
          <img src="icons/call_icon.svg" alt="Call" class="sb-contact-icon">
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <div class="container-fluid p-0 d-flex justify-content-between align-items-center">

        <button class=" sb-btn-primary px-4 py-2">ابدأ الآن</button>


        <div class="sb-nav justify-content-center" id="navbarNav">
          <ul class="navbar-nav gap-3 text-end flex-row-reverse">
            <li class="nav-item"><a class="nav-link sb-nav-link active" href="#">الرئيسية</a></li>
            <li class="nav-item"><a class="nav-link sb-nav-link" href="#">عن سبيل</a></li>
            <li class="nav-item"><a class="nav-link sb-nav-link" href="#">المميزات</a></li>
            <li class="nav-item"><a class="nav-link sb-nav-link" href="#">الأسئلة الشائعة</a></li>
            <li class="nav-item"><a class="nav-link sb-nav-link" href="#">المدونة</a></li>
            <li class="nav-item"><a class="nav-link sb-nav-link" href="#">تواصل معنا</a></li>
          </ul>
          <a class="navbar-brand m-0" href="#">
            <img src="logo/logo Saabeel 2.png" alt="Saabeel Logo" class="sb-logo">
          </a>
        </div>

      </div>
    </nav>
  </div>
</header>