<footer>

     <div class="container sb-footer">
          <div class="sb-primary-footer sb-top-bar">
               <a class="navbar-brand m-0" href="#">
                    <img src="logo/logo Saabeel 2.png" alt="Saabeel Logo" class="sb-logo-footer">
               </a>
               <ul class="navbar-nav d-flex text-white gap-3 text-end flex-row-reverse">
                    <li class="nav-item"><a class="nav-link sb-nav-link active" href="#">الرئيسية</a></li>
                    <li class="nav-item"><a class="nav-link sb-nav-link" href="#">عن سبيل</a></li>
                    <li class="nav-item"><a class="nav-link sb-nav-link" href="#">المميزات</a></li>
                    <li class="nav-item"><a class="nav-link sb-nav-link" href="#">الأسئلة الشائعة</a></li>
                    <li class="nav-item"><a class="nav-link sb-nav-link" href="#">المدونة</a></li>
                    <li class="nav-item"><a class="nav-link sb-nav-link" href="#">تواصل معنا</a></li>
               </ul>
               <div class="sb-social-icons-footer und-flex gap-3">
                    <a href="#"><img src="icons/facebook_icon.svg" alt="Facebook" class="sb-social-icon"></a>
                    <a href="#"><img src="icons/youtube_icon.svg" alt="YouTube" class="sb-social-icon"></a>
                    <a href="#"><img src="icons/linkedin_icon.svg" alt="LinkedIn" class="sb-social-icon"></a>
                    <a href="#"><img src="icons/x_icon.svg" alt="X" class="sb-social-icon"></a>
                    <a href="#"><img src="icons/instgram_icon.svg" alt="Instagram" class="sb-social-icon"></a>
                    <a href="#"><img src="icons/tiktok_icon.svg" alt="TikTok" class="sb-social-icon"></a>
               </div>
          </div>
          <div class=""></div>
          <div class="sb-secondry-footer">
               <p>© الحقوق محفوظه لمنصة لـ نظام سبيل التعليمي 2025</p>
               <p>تصميم وتطوير ديفوليوم</p>
          </div>
     </div>
</footer>