.sb-footer{
   
}
.sb-primary-footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;

}
.sb-logo-footer{
    height: 80px;
}
.sb-social-icons-footer{
   filter: brightness(0) invert(1);
}
.sb-top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.sb-secondry-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    p{
        color: white;
        font-size: 14px
    }

}

@media (max-width: 991px) {
    .sb-primary-footer {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
    }
    
    .sb-secondry-footer {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}