<section>
    <div class="container sb-feature">

        <div class="sb-feature-header">
            <span class="sb-feature-ref">المميزات</span>
            <h1 class="sb-feature-title">لماذا تختار منصتنا؟</h1>
        </div>
        <div class="sb-feature-main row">
            <div class="sb-feature-list col-lg-4">
                <div class="d-flex  sb-feature-item">
                    <span><img src="icons/f1.png" alt="Moon icon"></span>
                    <div>
                        <h4>حماية متقدمة للمحتوى</h4>
                        <P>نظام أمان متكامل يمنع التصوير والمشاركة ويحافظ على حقوقك بالكامل.</P>
                    </div>
                </div>
                <div class="d-flex sb-feature-item">
                    <span><img src="icons/f2.png" alt="Document icon"></span>
                    <div>
                        <h4>اختبارات ذكية ومتطورة</h4>
                        <P>إنشاء اختبارات تلقائية مع تقارير تفصيلية لقياس الأداء والتفاعل.</P>
                    </div>
                </div>
                <div class="d-flex sb-feature-item">
                    <span><img src="icons/f3.png" alt="Group icon"></span>
                    <div>
                        <h4> إدارة فرق العمل</h4>
                        <P>تنظيم الصلاحيات، متابعة الأداء، والتعاون بين أعضاء الفريق بسهولة.</P>
                    </div>
                </div>
            </div>
            <div class="sb-feature-image col-lg-4">
                <img width="100%" src="images/feature_image.png" alt="features image">
            </div>
            <div class="sb-feature-list col-lg-4">
                <div class="d-flex sb-feature-item">
                    <span><img src="icons/f1.png" alt="Shield icon"></span>
                    <div>
                        <h4>تحكم كامل للمعلم / الدكتور</h4>
                        <P>إدارة الدروس، الطلاب، والمحتوى بسهولة من لوحة تحكم واحدة على جميع الأجهزة.</P>
                    </div>
                </div>
                <div class="d-flex sb-feature-item">
                    <span><img src="icons/f2.png" alt="Chart icon"></span>
                    <div>
                        <h4>مرفقات ذكية بعالمة مائية</h4>
                        <p>حماية الملفات التعليمية مع تتبع الاستخدام ومنع النسخ أو التداول غير المصرّح به.</p>
                    </div>
                </div>
                <div class="d-flex sb-feature-item">
                    <span><img src="icons/f3.png" alt="Group icon"></span>
                    <div>
                        <h4>المزيد من المميزات</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>