<section>
    <div class="container">
        <div class="sb-faq-content">
            <div class="sb-faq-ques">
                <app-section-title refText="الأسئلة الشائعة" titleText="أسئلة قد تهمك">
                </app-section-title>

                <div class="sb-faq-questions">
                    @for (faq of currentFaqs(); track $index) {
                    <div class="sb-question-item" [class.active]="activeIndex === $index">
                        <button class="sb-question-header" (click)="toggle($index)">
                            <p>{{faq.question}}</p>
                            <span class="sb-icon">
                                @if (activeIndex === $index) {
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 23 23">
                                    <path stroke="#303036" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5"
                                        d="M7.313 11.25h7.875m6.562 0c0 5.799-4.701 10.5-10.5 10.5S.75 17.049.75 11.25 5.451.75 11.25.75s10.5 4.701 10.5 10.5Z" />
                                </svg>
                                } @else {
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 28 28">
                                    <path fill="#303036"
                                        d="M14.75 8.75c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75h1.5Zm-1.5 10.5c0 .4142.3358.75.75.75s.75-.3358.75-.75h-1.5Zm6-4.5c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75v1.5Zm-10.5-1.5c-.41421 0-.75.3358-.75.75s.33579.75.75.75v-1.5ZM24.5 14h-.75c0 5.3848-4.3652 9.75-9.75 9.75v1.5c6.2132 0 11.25-5.0368 11.25-11.25h-.75ZM14 24.5v-.75c-5.38478 0-9.75-4.3652-9.75-9.75h-1.5c0 6.2132 5.0368 11.25 11.25 11.25v-.75ZM3.5 14h.75c0-5.38478 4.36522-9.75 9.75-9.75v-1.5C7.7868 2.75 2.75 7.7868 2.75 14h.75ZM14 3.5v.75c5.3848 0 9.75 4.36522 9.75 9.75h1.5c0-6.2132-5.0368-11.25-11.25-11.25v.75Zm0 5.25h-.75V14h1.5V8.75H14ZM14 14h-.75v5.25h1.5V14H14Zm5.25 0v-.75H14v1.5h5.25V14ZM14 14v-.75H8.75v1.5H14V14Z" />
                                </svg>
                                }
                            </span>
                        </button>
                        @if (activeIndex === $index) {
                        <div class="sb-question-answer">
                            <p>{{faq.answer}}</p>
                        </div>
                        }
                    </div>
                    }
                </div>

                @if (!isExpanded()) {
                <button class="sb-show-more-btn" (click)="showMore()">
                    عرض المزيد
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 9l-7 7-7-7" />
                    </svg>
                </button>
                }
            </div>
            <div class="sb-faq-image">
                <div class="sb-image-wrapper">
                    <img src="images/person.png" alt="FAQ Person" class="sb-person-img">
                    <img src="images/qpart.svg" alt="Question Marks" class="sb-qpart-svg">
                </div>
            </div>

        </div>
    </div>
</section>