<section class="sb-hero-section py-5 ">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1 position-relative">
                <div class="sb-hero-image-container">
                    <img src="images/hero-image.png" alt="Saabeel Platform" class="img-fluid sb-hero-main-img">
                </div>
            </div>

            <div class="sb-hero-text col-lg-6 order-1 order-lg-2 text-end text-white">
                <div class="d-flex flex-column">

                    <div class="sb-hero-head">
                        <h1 class="sb-hero-title ">
                            سبيل.. حلقة الوصل بين<br>
                            <span class="fw-bold">المعلم والطالب</span>
                        </h1>
                        <p class="sb-hero-description">
منصة تعليمية متكاملة تتيح لك رفع الدروس، إدارة الطلاب، وإجراء الاختبارات، مع حماية متقدمة تمنع التحميل أو النسخ                        </p>

                    </div>


                    <div class="sb-contact-search-wrapper  d-inline-flex align-items-center w-100">
                        <button class="btn sb-btn-contact-action">تواصل الان</button>
                        <input type="text" placeholder="هل لديك استفسار؟ فريق سبيل جاهز لمساعدتك"
                            class="form-control sb-contact-input" dir="rtl">
                    </div>
                </div>
                <div class="sb-download-container">
                    <div class="sb-app-badges-title ">  :تطبيق سبيل متوفر علي </div>
                    <div class="sb-app-badges d-flex gap-3 justify-content-end align-items-center">
                        <a href="#"><img src="images/Mobile app store badge huawei.png" alt="AppGallery"
                                class="sb-app-badge"></a>
                        <a href="#"><img src="images/Mobile app store badge ios.png" alt="App Store"
                            class="sb-app-badge"></a>
                    <a href="#"><img src="images/Mobile app store badge.png" alt="Google Play" class="sb-app-badge"></a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>