.sb-hero-section {
  background: linear-gradient(rgba(7, 8, 18, 0.93), rgba(7, 8, 18, 0.93)),url('/images/bg-hero.png') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 150px !important;
  padding-bottom: 50px !important;
  border-radius: 40px;
  flex-wrap: wrap; 
}


.sb-hero-text,
.sb-hero-image-container {
  flex: 0 0 50%; 
}

.sb-hero-section::after {
  content: '';
  display: block;
  flex: 0 0 100%; 
  height: 200px; 
  
}

.sb-hero-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sb-hero-title {
  font-size: 2.5rem;
  line-height: 190%;
  text-align: right;
  font-weight: 400;
    font-family: 'FFShamel Family Sans One Bold', sans-serif;

}

.sb-hero-head{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sb-hero-title span {
  font-weight: 800;
}

.sb-hero-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8;
  width: 100%;
}

.sb-hero-image-container {
  position: relative;
  display: inline-block;
  overflow: visible;

}

.sb-hero-main-img {
  display: block;
  max-width: 100%;
  height: 480px;
}
.sb-download-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sb-btn-video {
  background-color: var(--sb-primary-color);
  color: white;
  border-radius: 50px;
  padding: 8px 15px 8px 8px;
  font-weight: 500;
}

.sb-play-icon {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sb-play-icon i {
  color: var(--sb-primary-color) !important;
  font-size: 1.2rem;
}

.sb-contact-search-wrapper {
  background: white;
  border-radius: 50px;
  padding: 5px;
  width: 100% !important;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  margin-top: 30px;
}

.sb-contact-input {
  border: none !important;
  box-shadow: none !important;
  border-radius: 50px;
  background: transparent;
  flex-grow: 1;
}

.sb-btn-contact-action {
  background-color: var(--sb-primary-color);
  color: white;
  border-radius: 50px;
  padding: 24px 17px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.sb-btn-contact-action:hover {
  background-color: var(--sb-primary-color);
  color: white;
}
.sb-app-badges-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--sb-primary-color);
}

.sb-app-badge {
    height: 40px;
    object-fit: contain;
}