<section>
    <div class="sb-package container">
        <div class="sb-package-header">
            <span class="sb-package-ref"> الباقات</span>
            <h1 class="sb-package-title"> اختر الباقة المناسبة لاحتياجك </h1>
        </div>
        <div class="row">
            <div class="sb-package-card col-lg-4 col-6">
               <img src="/icons/star_icon.png" alt="icon star">
               <h4>الاشتراك في سبيل</h4>
               <p>للمدارس والمراكز التي تريد استخدام نظام سبيل الجاهز,مناسب للمدرسين الخصوصيين والمراكز الصغيرة والمتوسطة</p>
               <span class="sb-req-price">
                 <p>اطلب عرض سعر</p>
               </span>
            </div>

        </div>

    </div>
</section>