section {

    padding-bottom: 5.625rem;
}

.sb-future {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sb-future-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.sb-future-ref {
    background: #FFAA00;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 0.875rem;
    margin: 0 auto;
}

.sb-future-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 190%;
    margin: 0;
}

.sb-future-cards {
    display: flex;
    gap: 21px;
}

.sb-future-card {
    display: flex;
    flex-direction: column;
    background-color: #FFAA00;
    border-radius: 24px;
    padding: 24px 32px;
    flex: 1;
    align-items: center;
    color: #ffffff;
    gap: 12px;


}

.sb-card-title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 7px;


    img {
        width: 24px;
        height: 24px;
    }

    p {
        font-size: 18px;
        font-weight: bold;
        line-height: 170%;
    }
}