section {

    padding-bottom: 5.625rem;
}

.sb-future {
    display: flex;
    flex-direction: column;
    gap: 50px;
}



.sb-future-cards {
    display: flex;
    gap: 21px;
}

.sb-future-card {
    display: flex;
    flex-direction: column;
    background-color: #FFAA00;
    border-radius: 24px;
    padding: 24px 32px;
    flex: 1;
    align-items: center;
    color: #ffffff;
    gap: 12px;


}

.sb-card-title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 7px;


    img {
        width: 24px;
        height: 24px;
    }

    p {
        font-size: 18px;
        font-weight: bold;
        line-height: 170%;
    }
}