<section>
    <div class="container sb-future">
        <div class="sb-future-header">
            <span class="sb-future-ref">القادم في سبيل</span>
            <h1 class="sb-future-title">الأنظمة التي نعمل على تطويرها حاليًا  </h1>
        </div>
        <div class="sb-future-graph">
            <div class="sb-future-cards">

                <div class="sb-future-card">
                    <div class="sb-card-title">
                      <img src="icons/check-badge_solid.png" alt="check icons" width="24px"/>
                      <p>إدارة الحضور والانصراف</p>
                    </div>
                    <p>تسجيل حضور وغياب الطلاب بسهولة، مع تقارير دقيقة في أي وقت</p>
                </div>
                <div class="sb-future-card">
                    <div class="sb-card-title">
                      <img src="icons/check-badge_solid.png" alt="check icons" width="24px"/>
                      <p>إدارة الحضور والانصراف</p>
                    </div>
                    <p>تسجيل حضور وغياب الطلاب بسهولة، مع تقارير دقيقة في أي وقت</p>
                </div>
            </div>
        </div>
    </div>
</section>