<section class="sb-about-section overflow-hidden position-relative">
    <div class="container sb-about">
        <div class="sb-about-content  ">
            <!-- Image Side -->

            <div class="sb-about-image-wrapper">
                <img src="images/about_image.png" alt="خبرة 5 سنوات في تطوير الأنظمة التعليمية" class="sb-about-image">


            </div>

            <!-- Text Side -->
            <div class="sb-about-text">
                <app-section-title refText="عن سبيل" titleText="خبرة 5 سنوات في تطوير الأنظمة التعليمية"
                    style="align-items: start !important;">
                </app-section-title>

                <p class="sb-about-description">
                    نظام سبيل التعليمي هو منصة إلكترونية متكاملة بخبرة تمتد لأكثر من
                    خمس سنوات في إدارة التعليم والدروس الخصوصية.
                    يوفر حلولاً ذكية لإدارة المحتوى التعليمي، متابعة الطلاب، إجراء
                    الاختبارات الإلكترونية، مع دعم فني متواصل لضمان تجربة تعليمية
                    متكاملة.
                </p>
            </div>
        </div>
    </div>
</section>